body{
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
}
.bg-gray{
	background-color: #7e7e7e;
	color:black;

}

.bg-orange{
	background-color: #e6e6e6;
padding-bottom: 20px;

	margin:0;
}
.bg-l{
	 background-color: #3fbcef;
	overflow-y: scroll;
	overflow-x: hidden;
  	height: 900px;
	
}
.black{
	background-color: black;
	height: 20px;
}

.size-font{
	font-size: 20px;
	padding-right: 70px;
}
.size-text{
	font-size: 16px;
	padding-right: 70px;
}

.kent{
	padding-top: 10px;
}
.social-media a{
font-size: 2.3em;
}

.work-media i{
font-size: 100px;
color:black;
}
.work-media p{
	color:white;
	font-size: 20px;
}
.work-img img{
	height: 200px;

}


.work-img p{
	font-size:20px;
	color:white;
}

.line-skill{
	background-color:white;
}
.work-project img{
	
	border: 2px solid black;
}
.work-project p{
	font-size:20px;
	color:white;

}

.light{
	background-color: white;
}

.bg-black{
	background-color: black;
	color:white; 
}
